*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* outline: 1px dotted red; */
}

.container {
    display: grid;
    height: 100%;
    padding: 5px;

    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 2fr 1fr;

    grid-template-areas: 
        'header header header'
        'sidebar main-content main-content'
        '. main-content main-content'
        'footer footer footer';

    gap: 3px;

}

/* HEADER */

.header{
    grid-area: header;

}

.img_header{
    width: 80px;   
    position: absolute;
}

.header h1{
    font-size: 50px;
    padding-left: 80px;
    padding-top: 5px;
}

.header span{
    color: #22659E;
}

.header h2{
    height: 60px;
    font-size: 35px;
    color: #fff;
    padding-left: 25px;
    padding-top: 12px;
    background: radial-gradient(rgb(149, 154, 160) 0%, rgb(33, 102, 163) 36%);
}


/* BARRA LATERAL (SIDE) */

.sidebar{
    grid-area: sidebar;
    display: inline-block;
    width: 220px;
    padding-top: 20px;
    background: linear-gradient(360deg, rgb(241, 239, 239) 96%, rgb(201, 195, 195) 100%);
}

.sidebar h1{
    font-size: 20px;
}

.sidebar span{
    color: red;
}

.sidebar p{
    margin: 10px 0;
}

.sidebar p span{
    color: #22659E;
}

.sidebar_btn01{
    width: 220px;
    box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	background-color:#007dc1;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:10px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
    text-align: center;
    
}

.sidebar_btn02{
    width: 220px;
    box-shadow:inset 0px 1px 0px 0px #54a3f7;
    background:linear-gradient(to bottom, #f0c911 5%, #f2ab1e 100%);	background-color:#007dc1;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:10px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
    text-align: center;
}

hr{
    height: 3px;
    background-color: #000;
    margin: 10px 0;
}

.sidebar h2{
    padding-top: 20px;
    text-align: center;
    background-image: url(img/ad_background.png);
    color: #fff;
    height: 390px;
    font-size: 30px;

}

.sidebar img{
    width: 50%;
    height: 50%;
    display: block;
    margin-left: 53px;
}

.sidebar_btn03{
    box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	background-color:#2dabf9;
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	padding:10px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
    margin: 20px 0 40px 0;
    height: 40px;
}

    /* MAIN CONTENT */


.main_content {
/* background-color: #d0d9e6;  */
grid-area: main-content;
margin-left: 50px;
}

/* links */

.main_content a{
    text-decoration: none;
    color: #089BB0;
}

/* header */
.main_content .header{
    display: flex;
    justify-content: space-between;
}

.header_btn a{
    font-size: 20px;
    text-decoration: none;
    color: #22649F;
}

.header_btn img{
    width: 20px;
}

.tagline{
    display: flex;
    height: 50px;
    
}

.tagline_info{
    height: 50px;
}

.tagline img{
    width: 45px;
    height: 45px;
    margin-right: 5px;
}

.tagline_info{
    font-size: 12px;
    font-weight: bold;
    text-align: center;

}

.tagline_info_number{
    font-size: 25px;
    color: #00C1DE;
    font-weight: bold;
}

.tagline_info_number_international{
    font-size: 11px;
    text-align: center;
}

hr.main{
    margin-top: 60px;
}

/* content */

.content{
    word-spacing: 3px;
    line-height: 150%;
    font-weight: 600;
}

.content h2{
    color: #22649F;
    margin: 5px;

    
}

.content ul li{
    font-size: 1.17em;
    list-style-position: outside;
    padding-left: 10px;
    margin: 10px 0 10px 30px;

}

.img_server_client{
    display: flex;
    justify-content: center;
}

.content img{
    width: 500px;

}

.content ul li.li_number{
    list-style: number;
    list-style-position: inside;
    margin: 10px 0 10px 20px;
}

/*  FOOTER */
.footer {
    display: flex;
    height: 300px;
    margin: 10px 0;
    border: 9px solid #0184E0;

}

.footer img{
    width: 300px;
    padding: 10px;
    display: inline-block;
    position: relative;
}

.footer_content{
    vertical-align: top;
    width: auto;
    height: auto;
    display: inline-block;
}

.footer_content h2{
    color: #22649F;
    margin: 15px 0;

}

