*{
    /* outline: 1px dotted red; */
    margin: 0px;
    padding: 0px;
}
body {
	font-family: "Arial", Sans-serif;
}

.container{
    width: 970px;
    /* height: 1000px; */
    margin: 0px auto;
    padding: 20px 0px 20px 25px;
    background-color: #322028;
}

.header{
    width: 970px;
    margin: 0px auto;
    background-color: white;
    color: #322028;
}

.header01{
    display: inline-block;
    width: 500px;
    padding: 4px 8px;
    font-family: cursive;
}

.header02{
    display: inline-block;
    margin-left: 20px;
}

.photo_of_me{
    width: 400px;
    height: 240px;
    border: 5px solid #C0C1C1;
    background-image: url(img/photo_of_me.jpg);
    background-size: contain;
    display: inline-block;
}

.about{
    width: 500px;
    height: 250px;
    display: inline-block;
    vertical-align: top;
    margin-left: 30px;
    background-color: #EEE9EE;
}

.header_g{
    padding: 10px;
    background: radial-gradient(rgb(240, 233, 235) 0%, rgb(89, 89, 92) 100%);
    color: white;
}


p{
    margin: 15px;
}

.project{
    width: 300px;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    margin: 20px 18px 0px 0px;
    text-align: justify;
    background-color: #EEE9EE;
}


.img-project{
    width: 300px;
}


.technologies01{
    width: 300px;
	display: inline-block;
	margin-top: 53px;
}
.technologies02{
    width: 300px;
	display: inline-block;
	margin-top: 35px;
}

.logos{
    margin: 10px;
}
.logos img{
    width: 40px;
    margin: 5px;
    
}

.centered{
    display: flex;
    justify-content: center;
}

.button {
	background-color: #407d61;
	padding: 10px;
	border-radius: 10px;
	color: #fff;
	border: 1px solid #000;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;

}


.footer02 img{
    width: 20px;
}