*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  width: 90%;
  max-width: 1000px;
  display: grid;
  gap: 10px;
  margin: 20px auto;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(3,auto);
  padding: 10px;
}   

.header{
  background: green;
  height: 100px;
  grid-column-start: 1;
  grid-column-end: 5;
}

.aside{
  background: blue;
  grid-column-start: 1;
  width: 100%;
  height: 200px;
}

.main_content{
  background: red;
  grid-column-start: 2;
  grid-column-end: 5;
  display: grid;
  padding: 10px;
  gap: 10px;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2,auto);
}
.subcontent{
  
  height: 200px;
  background: yellow;
  align-items: center;
  
}
.box1{
  grid-column-start: 1;
  grid-column-end: 2;
}
.box2{
  grid-column-start: 2;
  grid-column-end: 3;
}
.box3{
  grid-column-start: 3;
  grid-column-end: 4;
}

.advertisement{
  background-color: purple;
  grid-column-start: 1;
  grid-column-end: 4;
  height: 150px;
}

@media screen and (max-width:1024px) {
  .aside{
      display: none;
  }
    .main_content{
      grid-column-start: 1;
      grid-column-end: 5;
      display: grid;
      grid-template-columns: repeat(2,1fr);
      grid-template-rows: repeat(3,auto);

  }

  .box1{
      grid-column-start: 1;
      grid-column-end: 2;
  }

  .box2{
      grid-column-start: 2;
      grid-column-end: -1;
  }

  .box3{
      grid-column-start: 1;
      grid-column-end: 2;
  }

}

@media screen and (max-width:480px){
  .box1{
      grid-column-start: 1;
      grid-column-end: -1;
  }

  .box2{
      grid-column-start: 1;
      grid-column-end: -1;
  }

  .box3{
      grid-column-start: 1;
      grid-column-end: -1;
  }
}